h1 {
  color: #EFEFEF;
  margin: 1em;
  display: inline-block;
}

div#desk-nav {
    padding: 0 5%;
    width: 90%;
}

div#desk-nav a div {
    background-color: #EFEFEF;
    width: 24%;
    margin: 0;
    padding: 0.8em 0;
    display: inline-block;
    text-align: center;
}

body {
    background-color: #222222;
}

.article {
    padding: 0 10%;
}

.main-container {
  background-color: #EFEFEF;
  border: solid 0.25em #35C160;
  border-radius: 0.5em 0em;
  margin: 1em;
  padding: 1em;
  clear: both;
}

nav.border {
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    margin: 1em 0;
    padding: 0.5em 0;
    width: 100%;
}

.color-1 {
  background: #EAEAEA;
}

.color-2 {
  background: #35C160;
}

.color-3 {
  background: #2DA250;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

#mobile-nav {
    visibility: hidden;
    background-color: #EFEFEF;
    margin: 0 0 -1.2em;
    align-content: center;
}

/* Show Grid */
.showgrid {
  background: url("../img/grid-bg.png") repeat-y;
}

/* Media Rules */

/* General Media Styling */

@media screen and (max-width: 970px){
  
    h1 {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 560px){
  
  h1 {
      width: 80%;
      margin: 0.25em 10%;
      text-align: center;
  }

  .article {
    padding: 0;
    font-size: small;
  }

  .color-1, .color-2, .color-3, .pattern-1, .pattern-2, .pattern-3 {
    height: 25px;
    width: 25px;
  }

  nav.border {
    margin: 1em 0;
    width: 100%;
  }

  div#desk-nav {
    padding: 0;
    width: 95%;
    margin: 0 2.5%;
  }

  div#desk-nav a div {
    width: 23.5%;
  }
}